body{width: 98%; margin: auto; text-align: center;background: url(""); }

img {
	display:inline-block;
	}
.fijo {
	position: fixed;
	z-index: 1;
	background:#fff; 
	width: 100%;
	font-family: "Open Sans";
	height: 70px;
	}
.menu {
	text-align:left;
	text-decoration:none;
	padding-top: 27px;
	padding-left: 5px;
	}
a{
	text-decoration:none;
	color:grey;	
	font-size: 14px;
	margin:7px;	
}
.portada{
	height: 300px;
	margin-top: 100px;
	}
.portada img{
	height: 300px;
	}
.texto{
	height: 300px;
	padding:3px 50px 3px 0px;
	text-align: left;
	}
.menu img{
	height: 10px;
	width: 10px;
	}
button{
	padding:4px 11px;
	border-radius: 20px;
	background-color: #686868 ;
	color:white;
	margin:20px;
	}
.lastsection{
	margin: 40px;
	}
.diplay{
	display:inline-block;
	}
footer{
	background-color: grey;
	padding:10px 60px;
	}
footer p{
	color: white;
	}